<!DOCTYPE html>
<html>
<head>
    <title>My Notes</title>
    <script src="/static/script.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="notepad">
    <button id="theme-switch">{{ t['switch_theme'] }}</button> 
    <button onclick="window.location.href='/logout'">{{ t['logout'] }}</button>
    <div  class="notes">
      <h2>Completed Notes</h2>
      <button onclick="window.location.href='{{ url_for('notes') }}'">Back to Active Notes</button>
      <input type="text" id="completed_search" placeholder="Search notes...">
      {% include "partials/notes_completed.html" %}
    </div>
    <br>
    <p>© 2025 Organize — Desenvolvido por Arthur Araújo e Gabriel Giovane</p>
</body>
</html>
