<!DOCTYPE html>
<html>
<head>
    <title>{{ t['login'] }}</title>
    <script src="/static/script.js" defer></script>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="login">
    <h2>Login</h2>
    <form method="post">
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">{{ t['login'] }}</button>
    </form>
    <button onclick="window.location.href='/register'">{{ t['create_account'] }}</button>
    <p></p>
    <button id="theme-switch">{{ t['switch_theme'] }}</button>
    <select id="lang-switch" aria-label="Language switch">
        <option value="pt" {% if current_lang == 'pt' %}selected{% endif %}>PT</option>
        <option value="en" {% if current_lang == 'en' %}selected{% endif %}>EN</option>
    </select> 
</body>
</html>
